html,
body {margin: 0; padding: 0; height: 100%;}

#wrapper {min-height: 100%; position: relative;}

#spacing {height: 75%; width: 600px;}

#section1 {visibility: hidden; background-color: #FFFF66; position: absolute; height: 75%; width: 600px; overflow: scroll; padding: 10px; padding-bottom: 50px;}

#section2 {visibility: hidden; background-color: #FFFF90; position: absolute; height: 75%; width: 600px; overflow: scroll; padding: 10px; padding-bottom: 50px;}

#foot {position: absolute; height: 50px; width: 600px; bottom: 0; left: 0;}